<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <body>
    <%= partial "header" %>

    <section class="section">
      <div class="container">
        <div class="content is-medium">
          <h6 class="subtitle is-6 is-uppercase"><time><%= current_article.date.strftime('%b %e, %Y') %></time></h6>
          <div class="tags">
            <% current_article.tags.each do |tag| %>
              <span class="tag is-light is-uppercase"><%= tag %></span>
            <% end %>
          </div>
          <h1><%= current_article.title %></h1>
          <%= yield %>

          <% if current_article.data.ig.present? %>
            <p class="has-text-centered mt-6">
              <a href="<%= current_article.data.ig %>" target="_blank">
                <%= image_tag('icons/instagram.svg', width: '30px') %>
              </a>
            </p>

          <% else %>

            <div class="has-text-centered mt-6">
              <a href="https://twitter.com/moviendo_me" target="_blank">
                <%= image_tag('icons/twitter.svg', width: '30px') %>
              </a>
            </div>

          <% end %>
        </div>
      </div>
    </section>

    <section class="hero has-background is-medium is-link">
      <img class="hero-background is-transparent" src="https://moviendo.me/building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native/solana-wallet-app-d4a8563f.jpg" />
      <div class="hero-body">
        <p class="title has-text-centered">
          Building in Public an Open Source Solana Wallet Cross-Platform App with Expo, Web3 & React Native
        </p>
        <p class="has-text-centered mt-6">
          <a class="button is-medium is-inverted is-uppercase" href="/building-in-public-an-open-source-solana-wallet-cross-platform-app-with-expo-web3-react-native/index.html">Follow</a>
        </p>
      </div>
    </section>

    <%= partial "footer" %>
  </body>
</html>
