<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <body>
    <%= partial "header" %>

    <section class="section">
      <div class="container">
        <div class="content is-medium">
          <h6 class="subtitle is-6 is-uppercase"><time><%= current_article.date.strftime('%b %e, %Y') %></time></h6>
          <div class="tags">
            <% current_article.tags.each do |tag| %>
              <span class="tag is-light is-uppercase"><%= tag %></span>
            <% end %>
          </div>
          <h1><%= current_article.title %></h1>
          <%= yield %>

          <% if current_article.data.ig.present? %>
            <p class="has-text-centered mt-6">
              <a href="<%= current_article.data.ig %>" target="_blank">
                <%= image_tag('icons/instagram.svg', width: '30px') %>
              </a>
            </p>
          <% elsif current_article.data.gh.present? %>
            <p class="has-text-centered mt-6">
              <a href="<%= current_article.data.gh %>" target="_blank">
                <%= image_tag('icons/github.svg', width: '30px') %>
              </a>
            </p>
          <% end %>
        </div>
      </div>
    </section>
    <%= partial "footer" %>
  </body>
</html>
