<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <body>
    <%= partial "header" %>

    <section class="hero has-background is-medium is-link">
      <img class="hero-background is-transparent" src="https://moviendo.me/building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native/solana-wallet-app-d4a8563f.jpg" />
      <div class="hero-body has-text-centered">
        <p class="title">
          Building in Public an Open Source Solana Wallet Cross-Platform App with Expo, Web3 & React Native
        </p>

        <p class="subtitle mt-4">
        Follow my Journey Learning and Building an Open Source Solana Wallet
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="content is-medium">
          <%= yield %>
        </div>
      </div>
    </section>

    <div class="has-text-centered mb-6">
      <a href="https://twitter.com/moviendo_me" target="_blank">
        <%= image_tag('icons/twitter.svg', width: '30px') %>
      </a>
    </div>

    <%= partial "footer" %>
  </body>
</html>
