<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="profile" href="https://gmpg.org/xfn/11">
<title><%= "#{current_page.data.title} - moviendo.me" %></title>
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<%= stylesheet_link_tag "site" %>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@moviendo_me" />
<meta name="twitter:creator" content="@moviendo_me" />
<meta property="og:url" content="<%= "#{config[:host]}#{current_page.path}" %>" />
<meta property="og:title" content="<%= current_page.data.title %>" />
<meta property="og:description" content="<%= current_page.data.description %>" />
<meta property="og:image" content="<%= "#{config[:host]}#{current_page.data.cover}" %>" />
